
@import url('https://fonts.googleapis.com/css2?family=Koulen&display=swap');

.Header {
    display: flex;
    margin: 1rem;
    padding: 1rem;
    border-radius: 1%;
    background: rgb(2,0,36);
    background: -moz-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
    background: -webkit-linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,90,9,1) 0%, rgba(189,120,5,1) 9%, rgba(187,118,5,1) 20%, rgba(255,196,0,1) 63%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#ffc400",GradientType=1);
    font-family: 'Koulen', cursive;
    place-items: center;
    justify-content:space-evenly ;
    align-items: center;
    flex-direction: row;
}
.Header h1{
    font-size: 6vh; 
    
}
.Header div{
    border: 4px solid black;
    width: 20vh;
}
.Main{
    display: flex;
    border-radius: 1%;
    height: 30rem;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    background-color:blanchedalmond;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    transition:height 1s, background 1s;
}
.Main:hover{
    height: 35rem;
    background-color: orange;
}


.cripto{
    display: flex;
    border-radius: 1%;
    height: 30rem;
    background-color: goldenrod;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    align-items: center;
    justify-content:space-between;
    flex-direction:column;
    position: relative;
    transition:height 1s, background 1s;
}
.cripto:hover{
    height: 35rem;
    background-color: orange;
}
.cripto li{
    position: absolute;
    position: relative;
}
.nft{
    display: flex;
    border-radius: 1%;
    height: 30rem;
    background-color:midnightblue;
    margin: 1rem;
    padding: 1rem;
    font-family: 'Koulen', cursive;  
    place-items: center;
    align-items: center;
    justify-content:space-between;
    flex-direction:column;
    position: relative;
    transition:height 1s, background 1s;
}

.nft:hover{
    height: 35rem;
    background-color:orange;
}
.nft li{
    position: absolute;
    position: relative;
}
.Footer {
    display: flex;
    border-radius: 1%;
    box-sizing:border-box;
    margin: 1rem;
    padding: 1rem;
    background-color: coral;  
    place-items: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Koulen', cursive;
    position: relative;
}
.Footer span{
    position: absolute;
    position: relative;
}
#Index__estructura{
    display:grid;
    grid-template-columns:1fr 2fr 1fr; 
    grid-template-rows: auto 2fr auto ;
    grid-template-areas: "header header header" 
                         "NFT main cripto"
                         "footer footer footer";
    
}
.Header{
    grid-area: header;
  
}
div{
    list-style: none;
} 
.Main{
    grid-area: main ;
}
.cripto{
    grid-area: cripto;
}
.nft{
    grid-area: NFT;
}
.Footer{
    grid-area: footer;
}
@media screen and (max-width:425px) {
    #Index__estructura{
        background-color: chartreuse;
        grid-template-areas: "header header header"
                             "main main main"
                             "NFT NFT NFT"
                             "cripto cripto cripto"
                             "footer footer footer";
    }
    .Header {
        display: flex;
        margin: 1rem;
        padding: 1rem;
        border-radius: 1%;
        color:black; 
        background-color:blanchedalmond; 
        font-family: 'Koulen', cursive;
        place-items: center;
        justify-content:space-evenly ;
        align-items: center;
        flex-direction:column;
    }
    }
@media screen and (min-width:768px) {
    #Index__estructura{
        background-color:darkkhaki; 
    
    }
}